.wrap {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.text {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-text);
  padding-left: 10px;
  border-left: 3px solid var(--color-primary);
}
